<!DOCTYPE html>
<html>
<head>
  <title>LocalOrganics</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<div id="nav">
  <div id="area_search">
    <form action="/zipcode" method="post">
      <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
      <input type="text" name="zip_code" placeholder="Enter zipcode">
      <input type="submit">
    </form>
  </div>
  <div id="user_login">
    <% if current_user %>
      Signed in as <strong><%= current_user.name %></strong>!
      <%= image_tag(@auth['info']['image']) %>
      <%= link_to "Sign out", signout_path, id: "sign_out" %>
    <% else %>
      <%= link_to "Sign in with Facebook", "/auth/facebook", id: "sign_in" %>
    <% end %>
  </div>  
</div>

<div id="wrapper">
  <%= yield %>
</div>

</body>
</html>
